*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea,
select {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}

html {
    font-size: 100%;
}

body {
    background-color: #131b24;
    font-family: system-ui, sans-serif;
    color: #fff;
}

.eyebrow {
    font-weight: 600;
    z-index: 999;
}

h1 {
    line-height: 1;
    cursor: default;
    letter-spacing: .0625;
    font-weight: normal;
    font-family: 'Podium', system-ui, sans-serif;
    font-weight: 700;
    z-index: 999;
}

h2 {
    line-height: 1.6;
    cursor: default;
    font-weight: 600;
    letter-spacing: .03125rem;
    font-family: system-ui, sans-serif;
    z-index: 999;
}

p {
    line-height: 1.6;
    cursor: default;
    font-family: system-ui, sans-serif;
    z-index: 999;
}

form {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 450;
}

main {
    padding: 4rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    width: 100%;
    margin: auto;
    max-width: 60rem;
}

.pop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    width: 100%;
}

.pop-nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    width: 100%;
}

.alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.proof {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.video-wrap {
    display: flex;
    justify-content: center;
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
    max-width: 60rem;
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, .4);
}

.controls {
    width: 100%;
    height: 100%;
    display: flex;
}

.video_controls_wrap {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.click_for_sound {
    padding: 1rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.5rem);
    border-radius: 100px;
    cursor: pointer;
    gap: .5rem;
    z-index: 11;
    box-shadow: 0 0px 0 transparent;
    margin-bottom: 0px;
}

.click_for_sound:active {
    transform: translateY(0px);
}

.play {
    padding: 1.5rem 3rem 1.5rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(.5rem);
    border-radius: .75rem;
    cursor: pointer;
    z-index: 11;
    box-shadow: 0 0px 0 transparent;
    margin: auto;
}

.play:active {
    transform: translateY(0px);
}

#fullscreenButton {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.5rem);
    cursor: pointer;
    gap: .5rem;
    padding: .5rem;
    z-index: 11;
}

.volume {
    box-sizing: border-box;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.5rem);
    border-radius: 100px;
    cursor: pointer;
    gap: .5rem;
    padding: .5rem;
    z-index: 11;
}

.redtext {
    color: #ff0000;
}

#myVideo {
    width: 100%;
}

#video {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: auto;
}

#cta {
    padding: 0 2%;
}

#phone-number {
    padding: 0 2%;
    background-color: #ffc800;
    display: flex;
    align-items: center;
    max-width: 60rem;
    margin: auto;
}

.button-under {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.button-under2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.phone {
    color: #131b24;
    max-width: 60rem;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.phoney {
    color: #131b24;
    max-width: 60rem;
    padding: 1rem 0;
    margin: auto;
    display: none;
    align-items: center;
    gap: .5rem;
}

#red {
    color: #ff0000;
}

#header {
    padding: 2rem 2%;
}

.headline {
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.big {
    text-align: center;
    text-transform: uppercase;
}

.call-out {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .75rem;
    border-radius: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}

#copy {
    padding: 0 2%;
}

#faq {
    padding: 0 2%;
}

.timezone {
    background-color: #313841;
    padding: .5rem .75rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .75rem 0 0 .75rem;
    overflow: hidden;
}

footer {
    padding: 0rem 2% 6rem;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: auto;
    max-width: 60rem;
}

#testimonials {
    padding: 2rem 0;
}

.testimonial-pictures {
    display: flex;
    justify-content: center;
    max-width: 60rem;
    aspect-ratio: 1/1;
    overflow: auto;
    margin: auto;
}

.dots-wrap {
    display: flex;
    gap: .5rem;
    margin: auto;
    padding-top: 1rem;
    ;
}

.dots {
    background-color: #313841;
    border-radius: 100%;
    height: .5rem;
    width: .5rem;
}

.active {
    background-color: #006FFA;
}

.testimonial-sliders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    overflow: hidden;
    max-width: 40rem;
}

.locked-styled {
    display: none;
}


.fine-print3 {
    font-size: .85rem;
    margin: -0.255rem 0;
    line-height: 1.6;
    font-weight: 500;
    cursor: default;
    text-align: center;
}

.fine-print4 {
    font-size: .85rem;
    margin: -0.255rem 0;
    line-height: 1.6;
    font-weight: 500;
    cursor: default;
    color: #afafaf;
}

#close2 {
    font-size: .85rem;
    margin: -0.255rem 0;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: auto;
    cursor: default;
    text-align: center;
}

.fine-print2 {
    font-size: .85rem;
    margin: -0.255rem 0;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: auto;
    cursor: default;
    text-align: center;
}

.fine-print {
    font-size: .85rem;
    margin: -0.255rem 0;
    line-height: 1.6;
    cursor: default;
}

a {
    color: inherit;
    font-weight: 700;
}

.fade-in {
    background-color: transparent;
    /* Final background color */
    filter: none;
    /* Remove blur */
    -webkit-filter: none;
    /* For Safari */
    -webkit-backdrop-filter: none;
    /* For Safari */
    backdrop-filter: none;
    /* For other modern browsers */
}

#final-cta {
    padding: 2rem 2%;
    background: linear-gradient(355deg, rgb(4, 0, 68) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 71, 158) 100%);
    backdrop-filter: blur(32px);
    z-index: -1;
}

.inline_button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: .75rem;
    background: linear-gradient(355deg, rgb(4, 0, 68) 0%, rgba(9, 9, 121, 1) 35%, rgb(0, 71, 158) 100%);
    backdrop-filter: blur(32px);
    z-index: -1;
    padding: 1rem;
    gap: 2rem;
}

.inline_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.inline_profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.insta_profile {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.wraplogo {
    display: block;
}

.wraplogo2 {
    display: block;
}

.formlogo {
    display: none;
}

.happy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 2rem;
}

.dottt {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2px;
}

.bop {
    background-color: #313841;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-left: 11px;
}

.happier {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem;
    position: relative;
    gap: 2rem;
}



.happier1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    border-right: 1px solid #313841;
}

.dirty {
    min-width: 40%;
    width: 40%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 1rem;
    right: 1rem;
    top: .5rem;
    bottom: .5rem;
}

.sheeth {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 40%;
    width: 40%;
    max-width: 50%;
    border-radius: .75rem;
    background-color: rgba(51, 71, 80, .2);
    padding: .5rem 1rem;
    right: 1rem;
    top: .5rem;
    bottom: .5rem;
}

.bullet {
    padding: .5rem .75rem;
}

.break {
    background-color: #313841;
    height: 2px;
    width: 100%;
}

.learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .5rem;
}

.highlight {
    background-color: rgba(0, 111, 250, .8);
}

.highlight-green {
    background-color: rgba(67, 192, 0, .8);
}

.highlight-red {
    padding: .25rem .75rem;
    border-radius: .5rem;
    background-color: rgba(255, 75, 75, .8);
}

.clip {
    color: transparent;
    /* Hide the text color */
    background-image: url('https://i.postimg.cc/5NqjDP2c/GRADIENT-FOR-TEXT.webp');
    background-size: cover;
    background-clip: text;
    /* Clip the background image to the text */
    -webkit-background-clip: text;
    /* For Safari */
    display: inline;
    /* Ensure the background-clip works */
}

.insta {
    position: relative;
    display: flex;
    margin: auto;
    max-width: 60rem;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    /* Hide overflow of the pseudo-element */
    color: white;
    /* Adjust text color if needed for better visibility */
    background-color: rgba(0, 0, 0, 0.8);
}

.insta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.postimg.cc/SNzxrqL1/Celebrities-Weight-Loss-and-Transformations-Before-and-After-Pictures-2.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: -1;
    /* Place it behind the content */
}


.inline_image {
    border-radius: .5rem;
}

.inline_button_last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60rem;
    border-radius: .75rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    gap: 2rem;
}

.copy-wrap {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    margin: auto;
}

.cta-wrap {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 0;
    margin: auto;
}

.button-changed {
    background-color: #313841;
    box-shadow: 0 0 0;
    letter-spacing: 0.025rem;
    cursor: pointer;
    margin-bottom: 4px;
    transform: translateY(4px);
    color: #afafaf;
    pointer-events: none;
}

button {
    padding: 1rem 2rem;
    background-color: #006FFA;
    border-radius: .75rem;
    box-shadow: 0 4px 0 #0045b3;
    letter-spacing: 0.025rem;
    cursor: pointer;
    margin-bottom: 4px;
    color: inherit;
    font-weight: 600;
    z-index: 999;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.rope {
    border: 2px solid white;
    border-radius: .5rem;
    height: 3rem;
    width: 3rem;
    margin-right: -.25rem;
    transform: rotate(-3deg);
}

.rope1 {
    border: 2px solid white;
    border-radius: .5rem;
    height: 3rem;
    width: 3rem;
    margin-right: -.25rem;
    transform: rotate(3deg);
}

.rope2 {
    border: 2px solid white;
    border-radius: .5rem;
    height: 3rem;
    width: 3rem;
    transform: rotate(-3deg);
}

.divup {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.scarcity {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2);
    gap: .5rem;
    z-index: 1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#scarcity-check {
    animation: blink 1s infinite;
}

.scarcity-item {
    height: 1rem;
    width: 1rem;
    background-color: #313841;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 550;
}

.scarcity-item-green {
    height: 1rem;
    width: 1rem;
    background-color: #58cc02;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 550;
}

.copy_button {
    padding: 1rem 2rem;
    border: none;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0 4px 0 #afafaf;
    letter-spacing: 0.025rem;
    cursor: pointer;
    margin-bottom: 4px;
    color: #131b24;
    font-weight: 600;
    width: 100%;
}

.copy_button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.points_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .75rem;
    background-color: #313841;
    border-radius: 100px;
    cursor: default;
    min-height: 2rem;
}

.orange {
    background-color: #ffa60020;
    color: #ffa600;
}

.point_face {
    border-radius: 100%;
}

input {
    padding: .5rem .75rem;
    border-radius: .75rem;
    border: 2px solid #313841;
    background-color: #131b24;
    color: white;
    font-size: 1.25rem;
    width: 100%;
}

input::placeholder {
    color: #313841;
    font-size: 1.25rem;
}

.hidden {
    display: none;
}

.sign_wrap {
    z-index: 1000;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Ensure it's not visible but still in the layout */
    transition: opacity 0.2s ease, visibility 0.2s ease;
    display: flex; /* Ensure flex properties are active */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 4% 4rem;
    overflow: auto;
    gap: 6rem;
    background: rgba(0, 42, 51, 1);
    background: -moz-linear-gradient(165deg, rgba(0, 42, 51, 1) 0%, rgba(2, 2, 24, 1) 35%, rgba(0, 0, 7, 1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(0, 42, 51, 1) 0%, rgba(2, 2, 24, 1) 35%, rgba(0, 0, 7, 1) 100%);
    background: linear-gradient(165deg, rgba(0, 42, 51, 1) 0%, rgba(2, 2, 24, 1) 35%, rgba(0, 0, 7, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002a33", endColorstr="#000007", GradientType=1);
}

.sign_wrap.visible {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it visible in the layout */
}

.sign_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 212, 255);
    background: -moz-linear-gradient(180deg, rgba(0, 212, 255, 0) 65%, rgba(0, 42, 51, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 212, 255, 0) 65%, rgba(0, 42, 51, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 212, 255, 0) 65%, rgba(0, 42, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d4ff", endColorstr="#002a33", GradientType=1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: -1;
}


.sign_time {
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    border-radius: .75rem;
    border: 2px solid #313841;
    background-color: #131b24;
}

/* CSS to disable scroll */
.no-scroll {
    overflow: hidden; /* Prevent scrolling */
    position: fixed;  /* Ensure it stays fixed */
    width: 100%;      /* Ensure it spans full width */
}

.acknowledge_background {
    z-index: 1000;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Ensure it's not visible but still in the layout */
    transition: opacity 0.2s ease, visibility 0.2s ease;
    display: flex; /* Ensure flex properties are active */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 4% 4rem;
    overflow: auto;
    gap: 4rem;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    overflow: auto;
}

.acknowledge_background.visible {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it visible in the layout */
}

.acknowledge_wrap {
    z-index: 1000;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 50rem;
    padding: 2rem;
    background-color: #131b24;
    border-radius: .75rem;
    border: 2px solid #313841;
}

.appointment_time {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 2rem;
}

.pop-up-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
}

.pop-up-header2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.name {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 60rem;
    height: 1rem;
    margin: .25rem 0;
    background-color: #313841;
    border-radius: 100px;
    position: relative;
}

.pop-up-x {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#close {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    top: 1rem;
    left: 1rem;
    position: absolute;
}

.closecartel {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

#close2 {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.steps {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.step {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #006FFA;
    border: 2px solid #0045b3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 550;
}

.inner_bar {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: #006ffa;
    border-radius: 100px;
    transition: width 1s ease;
    animation: stretchBounce 5s cubic-bezier(0.5, -0.2, 0.3, 1.3) infinite;
}

@keyframes stretchBounce {
    0% {
        width: 50%;
    }

    30% {
        width: 55%;
        /* A bit of a struggle before reaching the max */
    }

    32.5% {
        width: 55%;
    }

    42.5% {
        width: 50%;
        /* Maximum tension point */
    }

    50% {
        width: 50%;
    }

    85% {
        width: 65%;
        /* Maintain tension, showing the effort to reach full */
    }

    85% {
        width: 65%;
    }

    90% {
        width: 50%;
        /* Reset for the next cycle */
    }
}

.looped {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
}

.timmy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    position: relative;
}


.bar_accent {
    height: .25rem;
    width: 100%;
    background-color: #008dff;
    border-radius: 100px;
}

.faq {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: auto;
    gap: .5rem;
}

.faq-title {
    margin-bottom: .5rem;
}

.faq_item {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2px;
    border-radius: .75rem;
    box-shadow: 0px 2px #313841;
    cursor: pointer;
    max-width: 60rem;
    width: 100%;
    border: 2px solid #313841;
    font-weight: 600;
}

.faq-text {
    cursor: pointer;
}

.faq_item:active {
    box-shadow: none;
    transform: translateY(4px);
}

.faq_question {
    padding: 1rem;
    cursor: pointer;
}

.faq_answer {
    padding: 1rem;
    display: none;
}

.sound-mobile {
    height: 1.5rem;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 3rem;
        /* Larger font size for the largest screens */
        margin: -0.25rem 0;
    }

    h2 {
        font-size: 1.625rem;
        margin: -0.4875rem 0;
    }

    p {
        font-size: 1.25rem;
        margin: -0.375rem 0;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    h1 {
        font-size: 2.5rem;
        /* Slightly smaller than 1440px screens */
        margin: -0.225rem 0;
    }

    h2 {
        font-size: 1.625rem;
        margin: -0.4875rem 0;
    }

    p {
        font-size: 1.25rem;
        margin: -0.375rem 0;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    h1 {
        font-size: 2.5rem;
        /* Smaller for medium screens */
        margin: -0.2rem 0;
    }

    h2 {
        font-size: 1.5rem;
        margin: -0.45rem 0;
    }

    p {
        font-size: 1.25rem;
        margin: -0.375rem 0;
    }
}

@media (max-width: 60rem) {
    .video-wrap {
        border-radius: 0rem;
        overflow: hidden;
    }

    .play {
        padding: 1.5rem 3rem 1.5rem 3rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0);
        backdrop-filter: blur(.5rem);
        border-radius: .75rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 2.25rem;
        /* Smaller for small screens */
        margin: -0.175rem 0;
    }

    h2 {
        font-size: 1.375rem;
        /* Smaller for small screens */
        margin: -0.4125rem 0;
    }

    p {
        font-size: 1.125rem;
        margin: -0.375rem 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    h1 {
        font-size: 2rem;
        /* Smaller for extra small screens */
        margin: -0.1625rem 0;
    }

    h2 {
        font-size: 1.25rem;
        /* Smaller for extra small screens */
        margin: -0.375rem 0;
    }

    p {
        font-size: 1.125rem;
        margin: -0.375rem 0;
    }

    .play {
        padding: 1rem 2rem 1rem 2rem;
    }

    .sound-mobile {
        height: 1rem;
    }

    .click_for_sound {
        left: .5rem;
        top: .5rem;
    }

    header {
        padding: 0 4%;
    }

    #title {
        padding: 1rem 4%;
    }

    #cta {
        padding: 0 4%;
    }

    #copy {
        padding: 0 4%;
    }

    #faq {
        padding: 0 4%;
    }

    footer {
        padding: 0rem 4% 6rem;
    }

    #final-cta {
        padding: 2rem 4%;
    }

    #phone-number {
        padding: 0 4%;
    }

    #header {
        padding: 2rem 4%;
    }

    .acknowledge_wrap {
        padding: 2rem 4%;
    }

    .happier1 {
        display: none;
    }

    .phone {
        display: none;
    }

    .phoney {
        color: #131b24;
        max-width: 60rem;
        padding: 1rem 0;
        margin: auto;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .break {
        display: none;
    }

    .click_for_sound {
        padding: .5rem 1rem;
    }
}

@media (max-width: 479px) {
    h1 {
        font-size: 1.75rem;
        /* Smaller for the smallest screens */
    }

    h2 {
        font-size: 1.25rem;
        /* Smaller for the smallest screens */
        margin: -0.375rem 0;
    }

    p {
        font-size: 1.125rem;
        margin: -0.375rem 0;
    }

    .wraplogo {
        display: none;
    }

    .formlogo {
        display: block;
    }

    .pop-nav {
        display: none;
    }

    .play {
        padding: 1rem 2rem 1rem 2rem;
    }

    .sound-mobile {
        height: 1rem;
    }

    .click_for_sound {
        left: .5rem;
        top: .5rem;
    }

    header {
        padding: 0 4%;
    }

    #title {
        padding: 1rem 4%;
    }

    #cta {
        padding: 0 4%;
    }

    #copy {
        padding: 0 4%;
    }

    #faq {
        padding: 0 4%;
    }

    footer {
        padding: 0rem 4% 6rem;
    }

    #final-cta {
        padding: 2rem 4%;
    }

    #phone-number {
        padding: 0 4%;
    }

    #header {
        padding: 2rem 4%;
    }

    .acknowledge_wrap {
        padding: 2rem 4%;
    }

    .sign_wrap {
        padding: 0;
    }

    .sign_wrap {
        opacity: 0;
        transform: translateY(100%); /* Initially positioned off-screen */
        visibility: hidden;
        transition: transform 0.2s ease, visibility 0.2s ease;
    }

    .sign_wrap.visible {
        opacity: 1;
        transform: translateY(0); /* Slide into view */
        visibility: visible;
    }

    .sign_time {
        padding: 0rem 4%;
        border: 0;
        border-radius: 0;
        flex-direction: column;
        max-width: none;
    }

    .happier1 {
        display: none;
    }

    .happier {
        padding: 9.5rem 0 4rem;
        min-height: 100dvh;
        border-left: 0;
    }

    .phone {
        display: none;
    }

    .phoney {
        color: #131b24;
        max-width: 60rem;
        padding: 1rem 0;
        margin: auto;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .break {
        display: none;
    }

    .click_for_sound {
        padding: .5rem 1rem;
    }
}
