*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea,
select {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}

html {
    font-size: 100%;
}

body {
    background-color: #0f1f25;
    font-family: system-ui, sans-serif;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    cursor: default;
    font-weight: 800;
    letter-spacing: .0625;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.6;
    cursor: default;
    font-weight: 600;
    letter-spacing: .03125rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
    cursor: default;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    width: 100%;
    border-bottom: 1px solid #334750;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    max-width: 60rem;
    width: 100%;
    margin: auto;
}

.alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #ffa600;
}

.video-wrap {
    display: flex;
    justify-content: center;
    background-color: black;
}

#myVideo {
    max-width: 60rem;
    width: 100%;
}

#video {
    display: flex;
    justify-content: center;
    background-color: black;
}

#cta {
    border-bottom: 1px solid #334750;
    padding: 0 5%;
}

#copy {
    border-bottom: 1px solid #334750;
    padding: 0 5%;
}

#faq {
    padding: 0 5%;
}

#final-cta {
    padding: 2rem 5%;
    background: linear-gradient(355deg, rgb(4, 0, 68) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 71, 158) 100%);
    backdrop-filter: blur(32px);
    z-index: -1;
}

.inline_button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    background: linear-gradient(355deg, rgb(4, 0, 68) 0%, rgba(9, 9, 121, 1) 35%, rgb(0, 71, 158) 100%);
    backdrop-filter: blur(32px);
    z-index: -1;
    padding: 1rem;
    gap: 1rem;
}

.inline_button_last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40rem;
    border-radius: 1rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    gap: 1rem;
}

.copy-wrap {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    margin: auto;
}

.cta-wrap {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    margin: auto;
}

button {
    padding: 1rem;
    background-color: #006FFA;
    border-radius: 0.5rem;
    box-shadow: 0 4px 0 #0045b3;
    letter-spacing: 0.025rem;
    cursor: pointer;
    margin-bottom: 4px;
    color: inherit;
    font-weight: 600;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.copy_button {
    padding: 1rem;
    border: none;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 0 #afafaf;
    letter-spacing: 0.025rem;
    cursor: pointer;
    margin-bottom: 4px;
    color: #0f1f25;
    font-weight: 600;
    width: 100%;
}

.copy_button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.points_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}

.point {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .75rem;
    background-color: #334750;
    border-radius: 100px;
    cursor: default;
}

.orange {
    background-color: #ffa60020;
    color: #ffa600;
}

.point_face {
    border-radius: 100%;
}

.faq {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: auto;
    gap: 1rem;
}

.faq_item {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    border-radius: .5rem;
    box-shadow: 0px 4px #334750;
    cursor: pointer;
    max-width: 60rem;
    width: 100%;
    border: 1px solid #334750;
}

.faq_question {
    box-sizing: border-box;
    padding: 1rem;
    cursor: pointer;
}

.faq_answer {
    box-sizing: border-box;
    padding: 1rem;
    display: none;
}
@media (min-width: 1440px) {
    h1 { font-size: 2.25rem; }
    h2 { font-size: 1.625rem; }
    p { font-size: 1.25rem; }
    p { font-size: 1.25rem; }
    p { font-size: 1.25rem; }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    h1 { font-size: 2.25rem; }
    h2 { font-size: 1.625rem; }
    p { font-size: 1.25rem; }
    .button { font-size: 1.125rem; }
    p { font-size: 1.25rem; }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    h1 { font-size: 2.25rem; }
    h2 { font-size: 1.5rem; }
    p { font-size: 1.25rem; }
    .button { font-size: 1.125rem; }
    .copy_button { font-size: 1.25rem; }
}

@media (min-width: 768px) and (max-width: 1023px) {
    h1 { font-size: 2.125rem; }
    h2 { font-size: 1.375rem; }
    p { font-size: 1.125rem; }
    .button { font-size: 1.125rem; }
    .copy_button { font-size: 1.25rem; }
}

@media (min-width: 480px) and (max-width: 767px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.25rem; }
    p { font-size: 1.125rem; }
    .button { font-size: 1.125rem; }
    .copy_button { font-size: 1.25rem; }
}

@media (max-width: 479px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.25rem; }
    p { font-size: 1.125rem; }
    .button { font-size: 1.125rem; }
    .copy_button { font-size: 1.25rem; }
}
